.home {
  display: flex;
  justify-content: space-between;
  padding-left: 85px;
  background-color: var(--grey-color);
  height: 100vh;
}
.MuiMenu-paper {
  top: 60px !important;

  .MuiMenu-list {
    background-color: var(--grey-color);
    .MuiMenuItem-root {
      color: var(--white-color);
      font-size: 14px;
      font-family: "Cairo", sans-serif;

      .Mui-selected {
        background-color: var(--dark-color);
      }
      .MuiListItem-button:hover {
        background-color: var(--dark-color);
      }
    }
  }
}

@media (max-width: 990px) {
  .home {
    flex-direction: column;
  }
}
