.home {
  &__left {
    flex: 0.9;
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h1 {
      font-family: "Bebas Neue", cursive;
      color: var(--white-color);
      letter-spacing: 1px;
      font-size: 24px;
    }
    .MuiSelect-root {
      font-family: "Cairo", sans-serif;
      font-weight: 700;
      color: var(--white-color);
    }
    .MuiSelect-icon {
      color: var(--white-color);
    }
    .MuiInput-underline:before {
      border-bottom: 1px solid var(--white-color);
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    // margin: 20px 0;
  }
}
